.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .search-input,
    .cpf-input,
    .login-input,
    .status-select,
    .age-range-select {
      padding: 8px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
      width: 200px; /* Defina a largura desejada para todos os campos */
    }
  }
  